{% extends 'layouts/base.html.twig' %}

{% block title "Redirection d'une page" %}

{% block body %}
    <div class="container">
      <h1>Affichage des liens qui mène dans une autre page </h1>
      <a href="{{ path("fruit_list") }}">Lien vers la liste des fruits </a> </br></br>
      <a href="{{ path("student_profile") }}">Lien vers l'identité' d'un étudiant </a>
    <div>
{% endblock %}
